{% extends 'base.html' %}

{% block content %}
<h1 class="center">You're craving one too, aren't you?</h1>
    {% for business in business_data['businesses'] %}
            <div class="biz"><h3><b>{{ business.name }}</b></h3>
                <h4>{{ business.location.address1 }}, {{ business.location.city }} {{ business.location.zip_code}}</h4>
                <h4></h4>{{ business.rating }} Stars
                <h4><a href="https://google.com/maps/search/?api=1&query={{ business.name }}">Map</a></h4></div>
    {% endfor %}
{% endblock content %}